/* lesson001 CSS */
.fv {
    background-color: var(--color-gray);
    padding: clamp(40px, 6vw, 60px) 0;
}

.fv-title {
    font-size: clamp(28px, 4vw, 40px);
}

.fv-description {
    max-width: 600px;
}